<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>IV Emergency Dispatch</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      div#map_container{
      	height:90vh;
      }
    </style>
    <script type="text/javascript"
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGVf0TR-URzqk-5DolWEg7ezd5hjhfHk0"></script>

    <script type="text/javascript">
      function loadMap() {
        var latlng = new google.maps.LatLng(34.4116, -119.8610);
        var myOptions = {
          zoom: 16,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_container"),myOptions);
      }
    </script>
  </head>

  <body onload="loadMap()">
    <h1 id="app-header">IV Emergency Dispatch</h1>
    
    <div id="map_container"></div>
  </body>

</html>
